#habilitando a reescrita---------------------------------------------------------
RewriteEngine On

#ERROS --------------------------------------------------------------------------

RewriteRule    ^admin/?$    view/admin-home.php    [QSA,NC,L]
RewriteRule    ^login/?$    view/login.php    [QSA,NC,L]
RewriteRule    ^pesquisa-cliente/?$    view/cliente-pesquisa.php    [QSA,NC,L]
RewriteRule    ^cadastro-cliente/?$    view/cliente-form.php    [QSA,NC,L]